<div class="service-content-container">

    <div class="service-content-header">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-sm-10">
                    <h1 class="service-content-header__header-title text-center mb-0">What We Do</h1>
                    <p class="service-content-header__header-text text-center"> We launch different types of platforms
                        and
                        operating
                        systems using distinguishes of every platform or operating system
                        as adventage and a powerful tool.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="service-content-holder pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center pb-5" *ngFor="let service of services">
                    <div
                        class="service-content-holder__img-holder d-flex justify-content-center align-items-center flex-column">
                        <img src="{{service.img}}" alt="{{service.title}}" class="service-content-holder__img">
                    </div>
                    <h1 class="service-content-holder__title">{{service.title}}</h1>
                    <p class="service-content-holder__content">{{service.content}}</p>

                    <a routerLink="{{service.link}}"
                        class="btn btn-outline-primary text-capitalize service-content-holder__link">Learn
                        more</a>
                </div>
            </div>
        </div>
    </div>


    <div class="service-content-cta ">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-12 col-sm-12 text-center">
                    <h1 class="service-content-cta__text service-content-cta_desktop text-center">We enjoy what we do.
                        <br>
                        Working with smart people <br> at great projects.
                        Contact us if you <br> want to work with us.</h1>
                    <h1 class="service-content-cta__text service-content-cta__text_mobile text-center">We enjoy working
                        with smart people on challenging tasks and deliver great products. <br> Let's team up to
                        create
                        something
                        worth the effort.</h1>
                    <a href="mailto:marketin@trinetix.com"
                        class="btn btn-primary btn-primary_large text-capitalize service-content-cta__button">Contact
                        us</a>
                </div>
            </div>
        </div>

    </div>