@import ../../config
// for navbar
.navbar
    background: $bg
    border-top: 4px solid $accent
    border-bottom: 1px solid rgb(0,53,98, 0.3)

.navbar-dark .navbar-nav .active > .nav-link
    color: $accent!important

.navbar-expand-lg .navbar-nav .nav-link
    padding-right: 1.375rem
    padding-left: 1.375rem
    font-size: 0.875em
    color: white
    font-weight: bold
    font-family: 'DecimaNovaProBold', sans-serif
    padding-top: 0!important
    padding-bottom: 0!important
    line-height: 1

.navbar-nav .nav-item:last-of-type
    padding-left: 1.375rem
    padding-top: 18px
    padding-bottom: 16px

.navbar-nav
    .nav-link
        padding-left: 22px
        padding-right: 22px
    .nav-link_last
        padding-right: 0
.btn
    font-family: 'DecimaNovaProBold', sans-serif
// for navbar

@media (max-width: 767px)
    .navbar
        padding: 20px!important
    .navbar-toggler
        padding: 0.15rem 0.35rem



// mobile
.navbar_mobile
    position: fixed
    z-index: 1031
    background-color: white
    width: 100%
    height: 100%
    top: 0
    bottom: 0
    right: -500px
    display: inline-block
    transition: 0.4s right ease

.navbar_mobile-list
    list-style-type: none
    padding-left: 0
    margin-left: 0
    margin-bottom: 0
    text-align: center
    a
        color: $accent
    .navbar_mobile-button
        height: 30px
        width: 118px
        border: 1px solid $accent
        line-height: 30px
        font-size: 1rem
        border-radius: 30px
        display: inline-block
        text-align: center

.navbar_mobile-close
    color: black
    font-size: 20px
    position: absolute
    right: 20px
    top: 20px

.showNav
    right: 0
    transition: 0.4s right ease