<footer class="footer">
    <div class="footer-top">
        <div class="container-lg container-fluid">
            <div class="row">
                <div class="col-9 col-md-3">
                    <p class="mb-1">Headquarters:</p>
                    <p class="footer-text mb-0">
                        11 E. Chavdar Street, Office 222,
                        Kiev, Ukraine 04335</p>

                </div>
                <div class="col-6 col-md-3 pt-4 py-md-0">
                    <p class="mb-1">
                        USA:
                    </p>
                    <p class="footer-text mb-0">
                        <a href="mailto:usa.hr@trinetix.com" class="footer__email">usa.hr@trinetix.com</a>
                        <br>
                        <a href="tel:+380443342341" class="footer__phone text-decoration-none">+1 212-336-1440</a>
                    </p>
                </div>
                <div class="col-6 col-md-3 pt-4 py-md-0 col-6_pl_8">
                    <p class="mb-1">Ukraine:</p>
                    <p class="footer-text mb-0">
                        <a href="mailto:ua.hr@trinetix.com" class="footer__email">ua.hr@trinetix.com</a>
                        <br>
                        <a href="tel:+380443342341" class="footer__phone text-decoration-none">+38 044-334-2341</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-lg container-fluid">
            <div
                class="row align-items-center justify-content-start flex-column-reverse flex-md-column justify-content-md-between ">
                <div class="col-12 col-md-3">
                    <p class="mb-0">© 2010-2015 Trinetix LLC</p>
                </div>
                <div class="col-md-7 d-none d-md-flex px-0">
                    <ul class="footer-nav  align-items-center flex-row pl-0 mb-0">
                        <li class="list-unstyled"><a href=""
                                class="footer-bottom__link text-decoration-none text-capitalize">Home</a></li>
                        <li class="list-unstyled"><a href=""
                                class="footer-bottom__link text-decoration-none text-capitalize">Case
                                Studies</a>
                        </li>
                        <li class="list-unstyled active"><a href=""
                                class="footer-bottom__link text-decoration-none text-capitalize">Services</a></li>
                        <li class="nav-item list-unstyled"><a href=""
                                class="footer-bottom__link text-decoration-none text-capitalize">Expertise</a>
                        </li>
                        <li class="list-unstyled"><a href=""
                                class="footer-bottom__link text-decoration-none text-capitalize">About</a></li>
                        <li class="list-unstyled"><a href=""
                                class="footer-bottom__link footer-bottom__link_last text-decoration-none text-capitalize">Contact
                                Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <div class="footer-social d-flex justify-content-md-end">
                        <a href="#"><img src="../../assets/img/facebook.svg" alt="facebook"
                                class="footer-social__img"></a>
                        <a href="#"><img src="../../assets/img/linkedin.svg" alt="linkeidn"
                                class="footer-social__img"></a>
                        <a href="#"><img src="../../assets/img/google.svg" alt="google" class="footer-social__img"></a>
                        <a href="#"><img src="../../assets/img/twitter.svg" alt="twitter"
                                class="footer-social__img footer-social__img_last"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>