@import ../../config
.footer
    background-color: $bg
    color: white
    border-top: 4px solid $accent
    padding: 36px 0 44px
.footer_top
    border-bottom: 1px solid rgb(0,53,98, 0.3)
    padding-bottom: 43px
