<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <p>Headquarters:
                        11 E. Chavdar Street, Office 222,
                        Kiev, Ukraine 04335</p>

                </div>
                <div class="col-sm-3">
                    <p>
                        USA:
                        usa.hr@trinetix.com
                        +1 212-336-1440
                    </p>
                </div>
                <div class="col-sm-3">
                    <p>Ukraine:
                        ua.hr@trinetix.com
                        +38 044-334-2341</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">

    </div>
</footer>