<div class="jumbotron bg-white mt-5">
    <h1 class="display-4">About</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <p>Several experimental vaccines targeting COVID-19 are currently in clinical trials. Moderna, the maker of the
        vaccine
        mRNA-1273 says that their vaccine against the novel coronavirus COVID-19 may be available this fall to a select
        group of
        people.
        Phase 1 trials of mRNA-1273 began earlier this month. This experimental vaccine targets proteins on the outer
        structure
        of coronavirus. The vaccine works by introducing synthetic mRNA sequences into patients. These molecules allow
        for the
        host system to translate them into proteins that mimic those found on COVID-19. These proteins then circulate
        within
        patients and elicit an immune response that researchers hope will induce immunity to COVID-19.

        Injecting mRNA vaccines to generate protein expression is a difficult process simply because it goes against the
        body’s
        natural biology. In the cell, mRNA serves as an intermediate between the code written into the cell’s DNA and
        the
        ultimate protein that it will create. mRNA is made within the nucleus of the cell, and as it matures it travels
        into the
        cytoplasm (the space between the nucleus and the outer plasma membrane) where it is translated into proteins by
        the
        cells ribosomes. mRNA is generally only stable within the cell long enough for proteins to be translated, and is
        soon
        thereafter degraded.
        These vaccines require that mRNA be introduced into the cytoplasm from outside the cell — directly violating the
        central
        dogma of biology. In fact, genetic material of any kind that is introduced from outside of the cell is generally
        treated
        as a foreign invader and degraded rapidly. This poses a difficult challenge to the efficacy of the mRNA-1273
        vaccine.
        Derreck Rossi of the Harvard Stem Cell Institute and co-founder of Moderna has figured out a way to enhance the
        stability of mRNA molecules introduce into the cell. RNA is a polymer of just 4 basic molecules known as
        nucleotides —
        adenine, guanine, cytosine and uracil (A,G,C,U) — linked in succession. Rossi’s team found that by modifying two
        of
        these molecules, he could enhance the stability of the molecule. One change he made was to replace uracil with
        pseudouracil. This simple change allowed mRNA introduced from outside of the cell to evade degradation long
        enough to
        express their coded proteins (Rossi D, 2010).
        Another issue facing mRNA vaccines is shuttling the mRNA across the outer cell membrane. The plasma membrane
        acts much
        like the skin of the cell, selectively deciding which molecules can cross into or out of the cell and which
        cannot. mRNA
        molecules can not readily cross the plasma membrane, thus mRNA vaccines would need a little help. Technologies
        exist
        that link vaccine mRNA with molecules than allow them to enter the cell. These can include molecules like
        protamines,
        lipids and nanoparticles (Kaufmann K, 2016) all of which address make them more permeable, or allow for them to
        be
        facilitated into the cell (Kaufmann K, 2016).</p>
</div>