<div class="hero-content d-flex flex-column justify-content-center align-items-center">
    <div class="container-fluid container-lg">
        <div class="row">
            <div class="col-10 col-lg-10 hero-content_col-10">
                <p class="hero-content__text">We work with forward businesses to create <wbr>
                new digital platforms, products and services.
            </p>
            </div>
        </div>

    </div>
    <div class="filter-container position-absolute w-100">
        <div class="container-fluid container-lg">
            <div class="row">
                <nav class="navbar navbar-dark bg-transparent py-0">

                    <ul class="navbar-nav flex-row navbar-nav__filter">
                        <li class="nav-item" [class.active]="showAll">
                            <a class="nav-link text-uppercase p-3 font-weight-bold" (click)="showAllClick()">All </a>
                        </li>
                        <li class="nav-item" [class.active]="showMobile">
                            <a class="nav-link d-desktop text-uppercase p-3 font-weight-bold"
                                (click)="showMobileClick()">Mobile apps</a>
                            <a class=" nav-link d-mobile text-uppercase p-3 font-weight-bold"
                                (click)="showMobileClick()">Mobile</a>
                        </li>
                        <li class="nav-item" [class.active]="showWeb">
                            <a class="nav-link d-desktop text-uppercase p-3 font-weight-bold"
                                (click)="showWebClick()">Web services</a>
                            <a class="nav-link d-mobile text-uppercase p-3 font-weight-bold"
                                (click)="showWebClick()">Web</a>
                        </li>
                        <li class="nav-item" [class.active]="showAr">
                            <a class="nav-link d-desktop text-uppercase p-3 font-weight-bold"
                                (click)="showArClick()">Augmented
                                reality</a>
                            <a class="nav-link d-mobile text-uppercase p-3 font-weight-bold"
                                (click)="showArClick()">AR</a>
                        </li>
                        <li class="nav-item" [class.active]="showDesign">
                            <a class="nav-link d-desktop text-uppercase p-3 font-weight-bold"
                                (click)="showDesignClick()">UX/UI design</a>
                            <a class="nav-link d-mobile text-uppercase p-3 font-weight-bold"
                                (click)="showDesignClick()">UX/UI</a>
                        </li>
                        <li class="nav-item" [class.active]="showDev">
                            <a class="nav-link d-desktop text-uppercase p-3 font-weight-bold"
                                (click)="showDevClick()">Development</a>
                            <a class="nav-link d-mobile text-uppercase p-3 font-weight-bold"
                                (click)="showDevClick()">Development</a>
                        </li>

                    </ul>

                </nav>
            </div>
        </div>
    </div>
</div>

<div [ngSwitch]="showContent">

    <app-services-all *ngSwitchCase="'All'"></app-services-all>
    <app-services-mobile *ngSwitchCase="'Mobile'"></app-services-mobile>
    <app-services-web *ngSwitchCase="'Web'"></app-services-web>
    <app-services-ar *ngSwitchCase="'Ar'"></app-services-ar>
    <app-services-design *ngSwitchCase="'Design'"></app-services-design>
    <app-services-dev *ngSwitchCase="'Dev'"></app-services-dev>

</div>