@import ../../config


// hero

.d-mobile
    display: none

.hero-content
    min-height: 423px
    background-color: $bg
    position: relative

.hero-content__text
    font-family: serif
    font-size: 3rem
    line-height: 3.625rem
    color: white

// .hero-content_col-10
//     flex: 0 0 82.3333333333%
//     max-width: 82.3333333333%

.filter-container
    bottom: 0

.navbar-nav__filter .nav-item.active
    border-bottom: 4px solid $accent

.navbar-nav__filter
    .nav-link
        color: white
        line-height: 1
        font-weight: bold
        font-family: 'DecimaNovaProBold', sans-serif
    .nav-item.active
        .nav-link
            color: $accent

@media (max-width: 980px)
    .hero-content__text
        width: 103%
@media (max-width: 979px)
    .d-desktop
        display: none
    .d-mobile
        display: block
@media (max-width: 554px)
    .filter-container
        overflow-x: auto
        &::-webkit-scrollbar
            width: 0px
            background: transparent!important
            display: none
            -ms-overflow-style: none
        &::-webkit-scrollbar-thumb
            background: transparent!important
    .hero-content
        min-height: 147px
    .hero-content__text
        display: none

.nav-link
    &:hover
        cursor: pointer
// hero
