<div class="hero-content d-flex flex-column justify-content-center align-items-center">
    <div class="container-fluid container-lg">
        <div class="row">
            <div class="col col-lg-10 hero-content_col-10">
                <p class="hero-content__text">We work with forward businesses to create <wbr>
                new digital platforms, products and services.
            </p>
            </div>
        </div>

    </div>
    <div class="filter-container position-absolute w-100">
        <div class="container-fluid container-lg">
            <div class="row">
                <nav class="navbar navbar-dark bg-transparent py-0">

                    <ul class="navbar-nav flex-row navbar-nav__filter">
                        <li class="nav-item active">
                            <a class="nav-link text-uppercase p-3 font-weight-bold" href="#">All <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase p-3 font-weight-bold" href="#">Mobile apps</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase p-3 font-weight-bold" href="#">Web services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase p-3 font-weight-bold" href="#">Augmented reality</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase p-3 font-weight-bold" href="#">UX/UI design</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase p-3 font-weight-bold" href="#">Development</a>
                        </li>

                    </ul>

                </nav>
            </div>
        </div>
    </div>
</div>